body {
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
    background: black;
}

@supports (text-wrap: pretty) {
    p {
        text-wrap: pretty !important;
    }
}

@supports (text-wrap: balance) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        text-wrap: balance;
    }
}

* {
    color: white;
}

.bg-img {
    position: fixed;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
    filter: blur(1rem);
    background: url('/assets/img/back.avif') center / cover black;
    z-index: -10;
}

em {
    font-style: normal;
}

.mono {
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;
    font-weight: 600;
}

.search {
    color: #ff7580;
}

header {
    background-color: black;
    display: grid;
    place-items: center;
    width: calc(100% - 2 * 2rem);
    padding: 2rem;
    height: calc(20vh - 2rem * 2);
    margin-bottom: 4rem;

    nav {
        display: flex;
        flex-wrap: wrap;
        min-height: 92px;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.33rem;

        .logo-wrapper {
            svg {
                fill: white;
                stroke: white;
                transition: filter 0.48s ease;
                position: relative;
                z-index: 10;
            }
        }

        a {
            position: relative;
            display: inline-block;
            font-size: 1.33rem;
            color: white;
            text-decoration: none;
            transition: opacity ease 0.67s;

            &:has(svg) {
                display: flex;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                gap: 1.33rem;

                .text-wrapper {
                    display: inline-block;
                }

                h2 {
                    display: block;
                    position: relative;
                    background: black;
                    box-shadow: 0 0 5px 5px black;
                    translate: 0 33%;
                    transition: translate ease 0.67s;
                    z-index: 1;
                }

                .scp {
                    display: flex;
                    gap: 0.5ch;
                    left: 0;
                    min-width: max-content;

                    span {
                        display: block;
                        translate: 0 -150%;
                        z-index: 0;
                    }

                    .sec {
                        transition: translate ease 0.67s 0.1s;
                    }
                    .cont {
                        transition: translate ease 0.67s 0.2s;
                    }
                    .pro {
                        transition: translate ease 0.67s 0.3s;
                    }
                }

                &:hover {
                    h2 {
                        translate: 0 0;
                    }

                    span {
                        span {
                            translate: 0 -80%;
                        }
                    }

                    svg {
                        filter: drop-shadow(0 0 50px white) drop-shadow(0 0 25px white);
                    }
                }

                svg {
                    display: inline-block;
                    width: 92px;
                    height: 92px;
                }
            }

            &.inactive,
            &.inactive::after {
                opacity: 65%;
            }

            &:is(.active, :hover),
            &:is(.active, :hover)::after {
                opacity: 100%;
            }

            &:not(:has(svg))::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -0.17rem;
                left: 50%;
                translate: -50% 0;
                width: 0;
                height: 0.17rem;
                border-radius: 100vw;
                transition: ease 0.67s;
                background-color: white;
                box-shadow:
                    0 0 50px white,
                    0 0 25px white;
            }

            &:hover::after {
                width: calc(100% + 15px);
            }
        }
    }
}

main {
    min-height: calc(70svh - 4rem);

    h1 {
        text-align: center;
        margin: 0 0 2rem;
    }

    button.listing {
        display: block;
        width: 25%;
        margin: 0 auto;
    }

    .scp-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, calc(600px - 4rem));
        justify-content: center;
        gap: 2rem;
        width: calc(100% - 2 * 4rem);
        margin: 4em;

        .scp-cont {
            padding: 2rem;
            background-color: #6666;
            backdrop-filter: blur(2rem);
            border-radius: 3rem;

            &.scp-905 .img {
                background-position-y: top !important;
            }

            .img-wrapper {
                --_img-border: solid 0.1rem #000;
                border: var(--_img-border, solid 1px #000);
                border-radius: 1rem;
                width: 100%;
                box-shadow: 0 1px 10px #0006;

                .img {
                    border-radius: 0.9rem 0.9rem 0 0;
                    display: block;
                    height: 333px;
                    width: 100%;
                }

                legend {
                    display: block;
                    padding: 0.33rem;
                    text-align: center;
                    font-weight: bold;
                    color: black !important;
                    background-color: #eee;
                    border-radius: 0 0 0.9rem 0.9rem;
                    border-top: var(--_img-border, solid 1px #000);
                }
            }

            .bold {
                font-weight: bold;
            }
        }
    }

    form.search {
        display: grid;
        width: 50%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 2.5lh);
        grid-template-areas:
            'lbl lbl'
            'ipt ipt'
            'btn1 btn2';
        place-items: center;

        label {
            grid-area: lbl;
        }

        input {
            width: calc(90% - 0.1em * 2);
            height: 60%;
            grid-area: ipt;
            padding: 0.1em;
            border: solid #666 1px;
            border-radius: 0.5rem;
            color: black;
        }
    }

    #datatable_wrapper {
        margin-top: 2rem;
        .dt-search {
            display: flex;
            gap: 1rem;
            width: fit-content;
            margin: auto auto 2rem;
            align-items: center;

            input {
                background-color: white;
                border: none;
                border-radius: 100vw;
                color: black;
                font-size: 1rem;
                transition: 0.33s ease;
                box-shadow: #0006 0 0;

                &:hover {
                    translate: -5px -5px;
                    box-shadow: 5px 5px #0006;
                }
            }
        }

        table {
            width: 80% !important;
            margin: auto;
            background-color: white;
            border-radius: 2rem;

            * {
                color: black !important;
            }

            td {
                img {
                    max-width: 128px;
                    padding: 0.1rem;
                    height: unset;
                }

                p {
                    display: inline-grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    align-items: center;
                    max-width: 25ch;
                    height: 256px;
                    overflow: clip auto;
                    white-space: nowrap;
                }
            }
        }
    }
}

.admin-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content;
    margin: auto;
    gap: 1rem 2rem;

    label {
        place-self: center left;
        min-width: 16ch;
    }

    label::after {
        content: ' :';
    }

    input[disabled] {
        cursor: not-allowed;
    }

    input,
    textarea,
    select,
    option {
        color: black;
        font-family:
            system-ui,
            -apple-system,
            sans-serif;
        font-size: 1rem;
        line-height: calc(1rem * 1.5);
        min-height: calc(1rem * 1.5);
        padding: calc(1rem / 4) calc(1rem / 2);
        border: none;
        border-radius: 1rem;
    }

    textarea {
        width: max-content;
        resize: none;
        scrollbar-width: thin;
        scrollbar-color: gray transparent;
    }

    button {
        grid-column-start: 1;
        grid-column-end: 3;
        height: unset;
        width: 100%;
    }
}

button {
    cursor: pointer;
    width: 80%;
    height: 80%;
    padding: calc(0.1em + 2 * 5px);
    font-size: 1rem;
    background-color: white;
    border: solid #666 1px;
    border-radius: 100vw;
    transition:
        box-shadow ease 0.33s,
        translate ease 0.33s;
    color: black;

    &.add {
        margin-top: 1rem !important;
    }

    &.scp,
    &.user {
        margin-block: 2rem !important;
    }

    &:hover {
        translate: -5px -5px;
        box-shadow: 5px 5px #0006;
    }
}

footer {
    display: flex;
    width: calc(100% - 2rem * 2);
    text-align: center;
    padding: 2rem;
    font-size: larger;
    height: 10vh;
    align-items: flex-end;

    p {
        width: 100%;
        text-align: center;
    }

    a {
        color: white;
        font-weight: 600;
        font-style: italic;
    }
}

@media screen and (width <= 550px) {
    header {
        padding: 0 !important;
        margin-bottom: 4rem !important;
        width: 100%;
        height: 100%;
        padding-bottom: 2rem !important;

        .text-wrapper {
            h2 {
                translate: 0 0 !important;
                box-shadow: none !important;
            }

            span {
                translate: 0 -50% !important;
            }
        }
    }

    h1 {
        margin-inline: 2rem !important;
    }

    .scp-wrapper {
        display: block !important;
        margin-inline: 2rem !important;
        width: calc(100% - 2rem * 2) !important;

        .scp-cont {
            margin-bottom: 2rem;
        }
    }

    form.search {
        display: block !important;
        width: calc(100% - 2rem * 2) !important;
        margin: 0 2rem !important;

        * {
            margin-bottom: 1rem;
        }

        label {
            display: inline-block;
            text-align: center !important;
            width: 100% !important;
        }

        input {
            height: 2.5lh !important;
            border-radius: 0.5rem !important;
            width: calc(100% - 0.2em - 2px) !important;
        }

        button {
            border-radius: 0.5rem !important;
            width: calc(100% - 2px) !important;
            height: 2.5lh !important;
        }
    }
}
